ACTION=="add", SUBSYSTEM=="block", ENV{ID_BUS}=="usb", ENV{ID_FS_USAGE}=="filesystem", ENV{DEVTYPE}=="disk", KERNEL=="sd*", RUN+="/usr/local/bin/queue_usb_event.sh add /dev/%k"
ACTION=="add", SUBSYSTEM=="block", ENV{ID_BUS}=="usb", ENV{DEVTYPE}=="partition", KERNEL=="sd*[0-9]", RUN+="/usr/local/bin/queue_usb_event.sh add /dev/%k"
ACTION=="remove", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", KERNEL=="sd*", RUN+="/usr/local/bin/queue_usb_event.sh remove /dev/%k"
ACTION=="remove", SUBSYSTEM=="block", ENV{DEVTYPE}=="partition", KERNEL=="sd*[0-9]", RUN+="/usr/local/bin/queue_usb_event.sh remove /dev/%k"
